:root {
    --gg: linear-gradient(to right,
            #7a4d05 0%,
            /* Dark bronze edge */
            #a05e03 20%,
            /* Warm mid-tone */
            #e8c566 50%,
            /* Bright center highlight */
            #d18a00 80%,
            /* Rich amber */
            #915d05 100%
            /* Deep shadow edge */
        );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background: var(--gg);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}



header h2 {
    margin-left: 100px;
    margin-right: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 15vh;
}

header h2 span {
    color: orange;
    margin-left: 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    padding-right: 20px;
    cursor: pointer;
}

header ul li {
    margin: 15px;
}

header ul li a {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    /* cursor: pointer; */

}

.search {
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #fff;
    width: 250px;

}

.search i {
    margin-right: 10px;
    color: darkblue;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search:focus-within {
    border-color: #007bff;
}

.logo {
    color: yellow;
}

#main {
    padding-top: 15vh;
    min-height: 100vh;
}

.main {
    background: darkblue;
    color: goldenrod;
    display: flex;
    height: 100vh;
    z-index: 2;
    padding-top: 15vh;
}

.main .content {
    width: 50%;
    margin-left: 200px;
    height: auto;
    transform: scale(1.2);
    /* display: flex; */
}

.main .content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 40px;

}

.main .content p {
    color: white;
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    line-height: 20px;
    letter-spacing: 3px;
}

.main .content a {
    border: 2px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 230px;
    width: 200px;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gg);
    font-weight: bold;
    color: blue;
    /* box-shadow: 10px 10px 10px 5px; */

}

.main .content a:hover {
    width: 210px;
    height: auto;
    padding: 21px;
    cursor: pointer;
}


#gallery {
    padding-top: 15vh;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;

}

#gallery a {
    color: black;
}

#gallery img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px 1px;
}

#gallery img:hover {
    margin-bottom: 25px;
    cursor: pointer;
}

#biography {
    padding-top: 15vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


.bioheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}
#biography h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.biography h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.mleft {
    padding-right: 20px;
    padding-left: 20px;
}


p span {
    font-weight: bold;
}
.line{
    margin-top: 20px;
    background-color: rgba(255, 217, 0, 0.788);
    height: 2px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.timeline-wrapper {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.line {
    background-color: #d18a00;
    height: 2px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    position: relative;
}


.circle {
    width: 1.5vh;
    height: 1.5vh;
    background-color: #7a4d05;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1;
}


.month {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
    
    position: absolute;
    bottom: 25px;
}


.event-desc {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 20px;
    width: 120px;
    line-height: 1.2;
}

#carrers{
    padding-top: 15vh;
    min-height: 100vh;
}
#carrers h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.img img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px 1px;
}
.img img:hover{
    margin-bottom: 25px;
}
.img a{
    color: black;
}
footer{
    background: var(--gg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    
}
.social-icons a i{
    border: none;

    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.social-icons a i:hover{
    transform: scale(1.2);
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.end{
    opacity: 0.5;
}